<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Olá Mundo!</title>
</head>
<body>
    <h1>Olá</h1>
    <form action="/login" method="post">
        {{ csrfField() }}

        <label for="email">email</label>
        <input type="email" name="email" id="email">
        <br>
        <br>

        <label for="password">senha</label>
        <input type="password" name="password" id="password">
        <br>
        <br>
        
        <button type="submit">
            <span>Salvar</span>
        </button>

        @if(old('notificacao'))
            <p style="color:red">
                {{ old('notificacao') }}
            </p>
        @endif

    </form>
</body>
</html>